    <div class="col-md-12">
        <div class="card card-plain">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-shopping">
                        <thead class="">
                            <th class="text-center">
                            </th>
                            <th>
                                Product
                            </th>

                            <th class="text-right">
                                Price
                            </th>
                            <th class="text-right">
                                Qty
                            </th>
                            <th class="text-right">
                                Amount
                            </th>
                        </thead>
                        <tbody>
                            <%= yield(:show_what) %>                       
                              <tr>
                                <td colspan="3">
                                    <%= content_for?(:empty_basket) ? yield(:empty_basket) : '' %> 
                                </td>
                                <td class="td-total">
                                    Total
                                </td>
                                <td class="td-price">
                                    <small>€</small><span id='totalprice'><%= yield(:total) %></span>
                                </td>
                                <td colspan="3" class="text-right">
                                <%= yield(:button) %>                       
                                 </td>
                              </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
