<section class="hero">
        <div class="hero-inner">
            <h1>Adopte un chat</h1>
            <h2>Ils sont mignons mais un peu con</h2>
            <%= link_to products_path, class:"btn" do %>Voir les produits<% end %>
        </div>
    </section>