<%= render 'layouts/navbar' %>

<div class="main">
	<div class="section">
		<div class="container">
			<h2 class="section-title">Nos derniers articles</h2>
			<div class="row">
				<div class="col-md-3">
					<div class="collapse-panel">
						<div class="card-body">
							<div class="card card-refine card-plain">
								<h4 class="card-title">
									Raffraîchir
									<button class="btn btn-default btn-icon btn-neutral pull-right" rel="tooltip" title="Reset Filter">
										<i class="arrows-1_refresh-69 now-ui-icons"></i>
									</button>
								</h4>
								<div class="card-header" role="tab" id="headingOne">
									<h6 class="mb-0">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											Rangée de prix
											<i class="now-ui-icons arrows-1_minimal-down"></i>
										</a>
									</h6>
								</div>
								<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
									<div class="card-body">
										<span id="price-left" class="price-left pull-left" data-currency="&euro;">100</span>
										<span id="price-right" class="price-right pull-right" data-currency="&euro;">850</span>
										<div class="clearfix"></div>
										<div id="sliderRefine" class="slider slider-refine"></div>
									</div>
								</div>
								<div class="card-header" role="tab" id="headingOne">
									<h6 class="mb-0">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
											Categories
											<i class="now-ui-icons arrows-1_minimal-down"></i>
										</a>
									</h6>
								</div>
								<div id="collapseTwo" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
									<div class="card-body">
										<% @categories.each do |category| %>
										<div class="checkbox">
											<input type="checkbox">
											<%=category.title%>
										</div>
										<% end -%>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		<div class="col-md-9">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="card card-product card-plain">
						<% @products.each do |product| %>
						<div class="card-image">
							<a href="#">
								<%= product.cat_picts %>
							</a>

						</div>

						<div class="card-body">
							<a href="#">
								<h4 class="card-title"><% product.title %></h4>
							</a>
							<p class="card-description">
								<% product.description %>
							</p>
							<div class="card-footer">
								<div class="price-container">
									<span class="price"> &euro; <% product.price%></span>
								</div>
								<button class="btn btn-danger btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Remove from wishlist" data-placement="left">
									<i class="now-ui-icons ui-2_favourite-28"></i>
								</button>
							</div>
						</div>
					</div>
					<%end%>
					






























					<!-- end card -->
<!--			</div>
			<div class="col-lg-4 col-md-6">
				<div class="card card-product card-plain">
					<div class="card-image">
						<a href="#">
							<p><img src="http://aws.random.cat/meow" alt="Petit chatounet"></p>
						</a>
					</div>
					<div class="card-body">
						<a href="#">
							<h4 class="card-title">Tom Ford</h4>
						</a>
						<p class="card-description">
							Immaculate tailoring is TOM FORD's forte.
						</p>
						<div class="card-footer">
							<div class="price-container">
								<span class="price"> &euro; 879</span>
							</div>
							<button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Add to wishlist" data-placement="left">
								<i class="now-ui-icons ui-2_favourite-28"></i>
							</button>
						</div>
					</div>
				</div> 
			-->
			<!-- end card -->
		<!--	</div>
			<div class="col-lg-4 col-md-6">
				<div class="card card-product card-plain">
					<div class="card-image">
						<a href="#">
							<p><img src="http://aws.random.cat/meow" alt="Petit chatounet"></p>
						</a>
					</div>
					<div class="card-body">
						<a href="#">
							<h4 class="card-title">Wooyoungmi</h4>
						</a>
						<p class="card-description">
							Dark-grey slub wool, pintucked notch lapels.
						</p>
						<div class="card-footer">
							<div class="price-container">
								<span class="price">&euro; 555</span>
							</div>
							<button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Add to wishlist" data-placement="left">
								<i class="now-ui-icons ui-2_favourite-28"></i>
							</button>
						</div>
					</div>
				</div> -->
				<!-- end card -->
		<!--	</div>
			<div class="col-lg-4 col-md-6">
				<div class="card card-product card-plain">
					<div class="card-image">
						<a href="#">
							<img src="http://aws.random.cat/" alt="Petit chatounet">
						</a>
					</div>
					<div class="card-body">
						<a href="#">
							<h4 class="card-title">Thom Sweeney</h4>
						</a>
						<p class="card-description">
							It's made from lightweight grey wool woven.
						</p>
						<div class="card-footer">
							<div class="price-container">
								<span class="price"> &euro; 680</span>
							</div>
							<button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Add to wishlist" data-placement="left">
								<i class="now-ui-icons ui-2_favourite-28"></i>
							</button>
						</div>
					</div>
				</div> -->
				<!-- end card -->
		<!--	</div>
			<div class="col-lg-4 col-md-6">
				<div class="card card-product card-plain">
					<div class="card-image">
						<a href="#">
							<p><img src="http://aws.random.cat/meow" alt="Petit chatounet"></p>
						</a>
					</div>
					<div class="card-body">
						<a href="#">
							<h4 class="card-title">Kingsman</h4>
						</a>
						<p class="card-description">
							Crafted from khaki cotton and fully canvassed.
						</p>
						<div class="card-footer">
							<div class="price-container">
								<span class="price"> &euro; 725</span>
							</div>
							<button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Remove from wishlist" data-placement="left">
								<i class="now-ui-icons ui-2_favourite-28"></i>
							</button>
						</div>
					</div>
				</div> -->
				<!-- end card -->
	<!--		</div>
			<div class="col-lg-4 col-md-6">
				<div class="card card-product card-plain">
					<div class="card-image">
						<a href="#">
							<p><img src="http://aws.random.cat/meow" alt="Petit chatounet"></p>
						</a>
					</div>
					<div class="card-body">
						<a href="#">
							<h4 class="card-title">Boglioli</h4>
						</a>
						<p class="card-description">
							Masterfully crafted in Northern Italy.
						</p>
						<div class="card-footer">
							<div class="price-container">
								<span class="price">&euro; 699</span>
							</div>
							<button class="btn btn-neutral btn-icon btn-round pull-right" rel="tooltip" title="Add to wishlist" data-placement="left">
								<i class="now-ui-icons ui-2_favourite-28"></i>
							</button>
						</div>
					</div>
				</div>-->
				<!-- end card -->
				<!--	</div> -->
	<!--		<div class="col-md-3 ml-auto mr-auto">
				<button rel="tooltip" class="btn btn-primary btn-round">Load more...</button>
			</div>
		</div>
	</div>
</div>
</div>
</div>-->
<!-- section -->
