<section class="hero">
        <div class="hero-inner">
            <h1>Adopte un chat</h1>
            <h3 class="pimp">Ils sont mignons mais un peu con.</h3>
            <%= link_to products_path, class:"btn btn-primary" do %>Voir les produits<% end %>
        </div>
</section>
