<div class="container">
<% if current_user.first_name && current_user.last_name %>
  <div class="row">                             
    <div class="col-md-12">
        <h4>
            Ma commande
        </h4>
    </div>                           
    <div class="col-md-12">
        <h4>
            <small>Adresse a laquelle la photo sera envoyee : <%= current_user.email %></small>
        </h4>
    </div>     
    <%= render 'order'  %>
</div>
<% else %>
    <div class="col-md-12">
        <h4>
            Veuillez remplir vos informations Prenom et Nom de famille dans vote profil<br>
            <%= link_to 'Editer mes infos', edit_user_path(current_user.id), class:'btn btn-primary' %>
        </h4>
    </div>    
<% end %>
















