<div class="container">

  <div class="row">                             
    <div class="col-md-12">
        <h4>
            Ma commande
        </h4>
    </div>                           
    <div class="col-md-12">
        <h4>
            <small>Adresse a laquelle la photo sera envoyee : <%= current_user.email %></small>
        </h4>
    </div>     
    <%= render 'order'  %>
</div>




















