/*-------------------------------------  IMAGE ZOOM JAVASCRIPT -----------------*/

* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

/*---------------------------------------- JAVASCRIPT ALERTS ----------------------*/

.alert-container {
    position:relative;
    width:100%;
}
.alert-floating {
    position: absolute;
    top: 75px;

}

/*------------------------------ LANDING PAGE ---------------------------*/
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text styles */
  text-align: center;
  color: white; /* ADD THIS LINE */
  
  /* Background styles */
  background-image: url('https://media.giphy.com/media/iqzp1pBJtNQUU/giphy.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* Text styles */
  font-size: 5em;
  
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;
  
  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
  /* Text styles */
  color: white; /* CHANGE THIS LINE */
  text-decoration: none;
  font-size: 1.5em;
  
  /* Border styles */
  border: 3px solid white; /* CHANGE THIS LINE */
  border-radius: 20px;
}
