/*-------------------------------------  IMAGE ZOOM JAVASCRIPT -----------------*/

* {box-sizing: border-box;}

.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

/*---------------------------------------- JAVASCRIPT ALERTS ----------------------*/

.alert-container {
    position:relative;
    width:100%;
}
.alert-floating {
    position: absolute;
    top: 75px;
}

.img-floating {
    position: absolute;
    left: 800px;
    top: 10px;
}

/*------------------------------ LANDING PAGE ---------------------------*/
.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;
  position: fixed;
  
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Text styles */
  text-align: center;
  color: white; /* ADD THIS LINE */
  
  /* Background styles */
  background-image: url('https://media.giphy.com/media/iqzp1pBJtNQUU/giphy.gif');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  font-family: 'Aleo-Regular';
  /* Text styles */
  font-size: 5em;
  
  /* Margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

h2, h4 {
  color: 'black-color';
  font-family: 'Ostrich';
}

p, .price, .category {
  font-family: 'Phenomena';
}

.card-header {
  font-family: 'Static'
}

.rach {
  background-color: 'white-color';
}

.hero .btn {
  /* Positioning and sizing */
  display: block;
  width: 200px;
  
  /* Padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
  /* Text styles */
  
  color: #EEEEEE; /* CHANGE THIS LINE */
  text-decoration: none;
  font-size: 1.5em;
  
  border-radius: 50px;

  background-color: #074a5d;

  font-family: 'Phenomena';
}

@font-face {
  font-family: 'Phenomena';
  src: url('Phenomena-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Static';
  src: url('Static-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo-Regular';
  src: url('Aleo-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo-Light';
  src: url('Aleo-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aleo-Bold';
  src: url('Aleo-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ostrich';
  src: url('OstrichSans-Heavy.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Delio';
  src: url('Delio-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



 /* The Modal (background) */
.modal-orders {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-orders-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 
